body {
  background-color: #2d2b2b;
  color: white;
}

.App {
  border: 0.5px solid black;
  border-radius: 10px;
  outline: 15px solid white;
  outline-offset: 5px;
  margin: 25rem auto;
  background-color: blue;
  width: 40%;
  height: 45vh;
}

h1 {
  padding-top: 25px;
  padding-left: 35px;
  font-style: normal;
  font-weight: bolder;
  margin-left: 50px;
}
h2 {
  padding-top: 2rem;
  /* padding-left: 35px; */
  margin-left: 9rem;
}

.user {
  display: grid;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 35px;
  margin-left: 11rem;
}

.hello {
  margin-left: 10rem;
  /* padding-top: 2rem; */
}

.name {
  margin-left: 10rem;
}

.title {
  display: grid;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 35px;
  margin-left: 11rem;
}
